<!DOCTYPE html>
<html>
<head>
	<title>Anagrams Form / Homepage</title>
</head>
<body>
<h1>Anagrams!</h1>

<h4>Please enter two words or phrases without punctuation.</h4>
<form method="POST" action ="/anagram_list">

	<input type="text" size="50" name="word1" placeholder="First Word or Phrase"/>
	<br><br>
	<input type="text" size="50" name="word2" placeholder="Second Word or Phrase"/>
	<br><br>
	<button style="color:green;">SUBMIT</button>
	<br><br>
	<p><a href="/anagram_list">View existing list of anagrams</a></p>
</form>
</body>
</html>