<!DOCTYPE html>
<html>
<head>
	<title>Anagram List</title>
</head>
<body>
	<p><a href="/">Return to Anagrams!</a></p>
	{{#anagrams}}
	<table>
		<tr>
			<td style="width:300px;">{{word1}}</td>
			<td style="width:300px;">{{word2}}</td>
		</tr>
	</table>
	{{/anagrams}}
			
</body>
</html>